Myindex.ann filter=lfs diff=lfs merge=lfs -text
glove.6B.300d.txt filter=lfs diff=lfs merge=lfs -text
glove.6B.300d.zip filter=lfs diff=lfs merge=lfs -text
glove.6B.zip filter=lfs diff=lfs merge=lfs -text
print_vector.py filter=lfs diff=lfs merge=lfs -text
pdf_storage3.py filter=lfs diff=lfs merge=lfs -text
pdf_storage4.py filter=lfs diff=lfs merge=lfs -text
download_GloVe.py filter=lfs diff=lfs merge=lfs -text
glove.6B.100d.zip filter=lfs diff=lfs merge=lfs -text
glove.6B.50d.txt filter=lfs diff=lfs merge=lfs -text
glove.6B.50d.zip filter=lfs diff=lfs merge=lfs -text
pdf_index.ann filter=lfs diff=lfs merge=lfs -text
glove.6B.100d.txt filter=lfs diff=lfs merge=lfs -text
glove.6B.200d.txt filter=lfs diff=lfs merge=lfs -text
pdf_storage5.py filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
glove.6B.200d.zip filter=lfs diff=lfs merge=lfs -text
pdf_storage.py filter=lfs diff=lfs merge=lfs -text
pdf_storage1.py filter=lfs diff=lfs merge=lfs -text
